/* general */

body {
  font-family: "El Messiri", sans-serif;
}

.bg-color-primary {
  background-color: #db9e30 !important;
}

/*

Header Area Navbar

*/

/* .nav-link:hover {
    color: #db9e30 !important;
} */

.nav-link {
  color: inherit;
}

.items-set {
  color: #817b70 !important;
}

.primary-color {
  color: #db9e30 !important;
}

.my-nav {
  z-index: 2;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 0);
}

.set-background {
  position: relative;
  background-image: url("images/bg-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;
}

.set-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Black background with 70% opacity */
  z-index: 1;
}

.set-background > * {
  position: relative;
  z-index: 2;
}

/* .overlay {
  position: absolute;
  /* top: 0;
    left: 0; */
/* width: 100%;
    height: 100%; */

.pt-12 {
  padding-top: 230px;
}

.divider-svg {
  width: 180px;
  height: 10px;
  z-index: 2;
}

.setting-text {
  /* position: relative; */
  z-index: 5;
}

/* main section */

.font-change {
  font-family: "PT Sans", sans-serif;
}

.change-color {
  color: #817b70;
}

.paragraph-font {
  font-family: "PT Sans", sans-serif;
}

/* card setting */

.card {
  background-color: #faf0e0;
}

/* .card-subtitle {
  font-family: "PT Sans", sans-serif;
} */

.set-date {
  font-family: "PT Sans", sans-serif;
}

/* hero-section */

.hero-section {
  background: #fffcf6;
  background-image: url("images/bg-section-featuredsermons.png");
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

/* @media (min-width: 780){
  
  
} */

.p-10 {
  padding: 5rem;
}

.mt-10 {
  margin-top: 50px;
}

/* small section */

.small-section {
  background-color: #fffcf6;
}

.pt-15 {
  padding-top: 90px;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* upcoming events */
.responsive-text {
  font-size: 1.5rem;
}

/* Footer area */

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url("images/bg-footers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: clip;
  color: white;
  padding: 100px 0;
  text-align: center;
  width: 100vw;
}

input::placeholder{
  color: #817B70 !important;
}

.footer-line{
  border-top: 1px solid #817B70;
}

.mt-11{
  margin-top: 14rem;
}
/* .set-padding{
  padding: 3rem;
} */

.below-padding{
  padding: 3rem;
}

.mb-10{
  margin-bottom: 9rem;
}

@media (max-width: 768px) {
  .responsive-text {
    font-size: 1rem; /* Smaller font size for mobile */
  }
  .footer{
    text-align: start;
  }
}